
.custom-shadow {
 box-shadow: rgba(0, 0, 0, 0.15) 5.95px 5.95px 2.6px;
        }
        
footer {
 background-color: #FFFFFF;
}
footer section {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 10px;
    text-align: center; 
}
footer section div {
    padding: 10px;
}
footer section .logo-address {
    text-align: center;
}
footer section .logo-address ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
footer section .logo-address ul li {
    font-size: 14px;
}
footer section .section-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
footer section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer section ul li {
    font-size: 14px;
    margin-bottom: 8px;
}

@media (min-width: 768px) {
    footer section {
        flex-direction: row; 
        justify-content: space-between; 
        text-align: left; 
    }

    footer section div {
        text-align: left; 
    }

    footer section .logo-address {
        text-align: left;
    }

    footer section .section-header {
        font-size: 20px; 
    }

    footer section ul li {
        font-size: 16px; 
    }
}
footer .copyright {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-ul {
  text-align: center;
}

@media (min-width: 1024px) {
  .content {
    text-align: left; 
    margin-left: 0;  
    margin-right: 0;   
  }
  .logo {
    margin-left: 0; 
    margin-right: 0; 
  }
  .nav-ul {
    text-align: center; 
  }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%); 
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1; 
    }
}
.animate-slideInRight {
    animation: slideInRight 0.5s ease-out forwards;
}

